<% provide(:class_text, 'notice_attendance_change') %>
<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">

        <%= form_with(model: @user, url: attendances_update_approve_req_attendance_change_user_path(@user), local: true, method: :patch) do |f| %>
          <div>  
            <% @request_users.each do |request_user| %>
              <h4 class="modal-title" style="text-align:center"><%= "【#{request_user.name}からの勤怠変更申請】" %></h4>
              <table class="table table-bordered table-striped table-position table-hover">
                <thead>
                  <tr>
                    <td rowspan="3">日付</td>
                    <td rowspan="3">曜日</td>
                    <td colspan="4">変更前</td>
                    <td colspan="4">変更後</td>
                    <td rowspan="3">備考</td>
                    <td rowspan="3">指示者確認㊞</td>
                    <td rowspan="3">変更</td>
                    <td rowspan="3">勤怠を確認する</td>
                  </tr>
                  <tr>
                    <td colspan="2">出社</td>
                    <td colspan="2">退社</td>
                    <td colspan="2">出社</td>
                    <td colspan="2">退社</td>
                  </tr>
                  <tr>
                    <td>時</td>
                    <td>分</td>
                    <td>時</td>
                    <td>分</td>
                    <td>時</td>
                    <td>分</td>
                    <td>時</td>
                    <td>分</td>
                  </tr>
                </thead>

                <% @attendance_lists[request_user.id].each do |oa| %>
                    <%= f.fields_for "attendances[]", oa do |at| %>
                      <tbody>
                        <tr>
                          <td><%= l(oa.worked_on, format: :short) %></td>
                          <td class='<%= "wday#{oa.worked_on.wday}"%>'>
                            <%= $days_of_the_week[oa.worked_on.wday] %>
                          </td>
                          <td><%= oa.started_at.try(:strftime, "%H") %></td>
                          <td><%= oa.started_at.try(:strftime, "%M") %></td>
                          <td><%= oa.finished_at.try(:strftime, "%H") %></td>
                          <td><%= oa.finished_at.try(:strftime, "%M") %></td>
                          <td><%= oa.started_at_after_change.try(:strftime, "%H") %></td>
                          <td><%= oa.started_at_after_change.try(:strftime, "%M") %></td>
                          <td><%= oa.finished_at_after_change.try(:strftime, "%H") %></td>
                          <td><%= oa.finished_at_after_change.try(:strftime, "%M") %></td>
                          <td><%= oa.note %></td>
                          <td><%= at.select :attendance_change_request_status, [['申請中','申請中'], ['なし','なし'], ['承認','承認'], ['否認','否認']], selected: "申請中" %></td>
                          <td><%= at.check_box :attendance_change_approval %></td>
                          <td><%= link_to "確認", user_path(request_user.id), class: "btn btn-primary" %></td>                    
                        </tr>
                      </tbody>
                    <% end %>

                <% end %>
              </table>
            <% end %>
          </div>
          <!-- 変更送信ボタン -->
          <div>         
            <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>